DATABASE_TYPE=postgres
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USERNAME=postgres
DATABASE_DATABASE=nestjs_db
DATABASE_PASSWORD=ADD_DATABASE_PASSWORD_HERE
DATABASE_AUTO_LOAD_ENTITIES=1
DATABASE_SYNCHRONIZE=1
DATABASE_PORT_TEST=5434

JWT_SECRET=PUT-YOUR-JWT-SECRET-HERE
JWT_TOKEN_AUDIENCE=http://localhost:3000 # Local onde o Token está sendo gerado (AUD)
JWT_TOKEN_ISSUER=http://localhost:3000 # Quem gerou o Token (ISS)
JWT_TTL=3600  # Time To Live - Tempo de Vida do Token 
JWT_REFRESH_TTL=86400

PORT=3000
NODE_ENV=production